# django==1.10.2
coverage==4.2
django-bootstrap3==7.1.0
Pillow==3.4.2
pip==8.1.2
PyYAML==3.12
setuptools==28.3.0
wheel==0.30.0a0
# Heroku deployment requirements
psycopg2==2.6.2
whitenoise==3.2.2
dj-database-url==0.4.1
gunicorn=19.6.0
